<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>
        {{ title }}
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.js"></script>
    {% for resource in design.RESOURCE %}{% if resource.head %}{{ resource.get() }}
    {% endif %}{% endfor %}
</head>
<body>

{% for resource in design.RESOURCE %}{% if not resource.head %}{{ resource.get() }}
{% endif %}{% endfor %}

<div ng-app="syncApp">

<div class="ng-view"></div>

</div>
<script>
var errorSocket = new WebSocket('ws://'+ window.location.host + '/ws');
    function SyncService($websocket, $location) {
        let _proxy = {};
        let _realObjs = {};

        let dataStream = $websocket('ws://'+ window.location.host + '/ws');

        function getProxy(objId, obj) {
            let handler = {

                set(obj, prop, value) {
                    dataStream.send(JSON.stringify({
                        action: 'set',
                        key: prop,
                        value: value,
                        id: objId
                    }));
                    return true;
                }
            };
            return new Proxy(obj, handler)
        };

        function addFunctionProxy(objId, name) {

            _realObjs[objId][name] = function () {

                dataStream.send(JSON.stringify({
                    id: objId, action: 'call', key: name,
                    args: arguments
                }));
            }
        }

        function createObject(objId, obj) {
            if(!(objId in _proxy)){
                _realObjs[objId] = obj;
                _proxy[objId] = getProxy(objId, _realObjs[objId]);
            }
            return _proxy[objId]
        }

        dataStream.onMessage(function (message) {
            message = JSON.parse(message.data);
            switch (message.action) {
                case "set":
                    _realObjs[message.id][message.key] = message.value;
                    break;
                case "change_url":
                    $location.url(message.url);
                    break;
                case "set_func":
                    addFunctionProxy(message.id, message.key);
                    break;
                case "set_obj":
                case "set_list":
                    let obj = null;
                    if (message.obj_id in _realObjs) {
                        obj = _proxy[message.obj_id];
                    } else {
                        if (message.action === "set_list") {
                            obj = createObject(message.obj_id, []);
                        } else {
                            obj = createObject(message.obj_id, {});
                        }
                    }
                    _realObjs[message.id][message.key] = obj;
                    break;
            }
        });

        this.startSync = function startSync(objId) {

            dataStream.send(JSON.stringify({action: 'start', objId: objId}));
            return createObject(objId, [])
        };
    }

    let syncApp = angular.module('syncApp', ['ngWebSocket', 'ngRoute']).
        service('SyncService', SyncService);

    syncApp.config(function($routeProvider) {
        $routeProvider{% for screen in screens %}.when("/{{ screen }}/:id", {
            templateUrl : "/partial/{{ screen }}",
            controller : "syncController"
        }){% endfor %}.when("/", {
            redirectTo: '{{ app._get_url(absolute=False) }}'
        });
});


    syncApp.controller('syncController', function ($scope, $websocket, $routeParams, SyncService) {
        $scope.self = SyncService.startSync($routeParams.id);
        $scope.app = SyncService.startSync("{{ app.obj_id }}");
    });
    console.log("Configuring error");
    syncApp.config(function($provide) {
    $provide.decorator("$exceptionHandler", function($delegate) {
        return function(exception, cause) {
            errorSocket.send(JSON.stringify({
                    id: window.location.hash.split("/").pop(), action: 'call', key: 'error_handler',
                    args: {'exception' : { 'name': exception.name , 'message': exception.message ,'stack': exception.stack }}
            }));
        };
    });
    });
</script>

</body>
</html>
